doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title= title
    style.
        body {
            background: #ddd;
            padding-top: 200px;
        } 
        input {
            display: block;
            margin: 5px auto;
        }
        button {
            display: block;
            margin: 0 auto;
        }
        h1 {
          text-align: center;
        }
  body
    h1= title
    form(action=action method='post')
      input(name='username' type='text' placeholder='Username')
      br
      input(name='password' type='password' placeholder='Password')
      br
      button(type='submit')= title
