doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title sign up
    style.
      body {
            background: #ddd;
            padding-top: 200px;
      } 
      h1 {
      text-align: center;
      }
      a {
          text-align: center;
          display: block;
          padding: 5px;
      }
      p {
        width: 60%;
        margin: 0 auto;
      }
  body
    h1 Welcome To The Hub :)
    a(href='https://dry-castle-82394.herokuapp.com/signup') Sign Up
    a(href='https://dry-castle-82394.herokuapp.com/login') Log In
    p This is a mini-project that I made while learning Node.js/Express and MongoDB/Mongoose. It will allow you to create an account and Log In. Please do not enter your real password as I have access to all of the accounts' data. Enjoy! 😀 